body {
    background: url(../img/background.png) top left no-repeat;
    font-family: 'Lobster Two', cursive;
    margin: 0;
    padding: 0;
}
.container {
    margin: 0 auto;
    width: 1440px;
    border: 2px solid #ccc;
}